---
import type { InternalLinkFragment, SiteLocale } from '@lib/types/datocms';
import { getLocale } from '@lib/i18n';
import { getHref } from './index';

interface Props {
  link: InternalLinkFragment;
  openInNewTab?: boolean;
}

const { link, openInNewTab, ...props } = Astro.props;
const { title, page } = link;
const locale = getLocale() as SiteLocale;
const href = getHref({ locale, page });
const target = openInNewTab ? '_blank' : null;
---

<a href={href} {target} class:list={[`action--${link.style || 'default'}`]} { ...props}><slot>{title}</slot></a>
