---
import type { SiteLocale } from '@lib/types/datocms';
import { getLocale } from '@lib/i18n';
import { getHref } from '@lib/routing';

type AnyPage = {
  __typename: string;
  id: string;
  title?: string;
  [key: string]: any;
}
interface Props {
  page: AnyPage;
  openInNewTab?: boolean;
}

const { page, openInNewTab, ...props } = Astro.props;
const locale = getLocale() as SiteLocale;
const href = getHref({ locale, record: page });
const target = openInNewTab ? '_blank' : null;
---

<a href={href} {target} { ...props}><slot>{page.title}</slot></a>
