---
import type { AppRecord } from '@lib/types/datocms';
import { t } from '@lib/i18n';
import InternalLink from '@blocks/InternalLink/InternalLink.astro';

type Item = Pick<AppRecord, 'menuItems'>['menuItems'][0];

export interface Props {
  items: Pick<AppRecord, 'menuItems'>;
}
const { items } = Astro.props;
---

<nav aria-labelledby='app-menu-title'>
  <span id='app-menu-title' class='a11y-sr-only'>{t('main_menu')}</span>
  <!-- [html-validate-disable-next no-redundant-role -- see LocaleSelector/README.md] -->
  <ul role='list' style='list-style: none;'>
    {
      items.map((item: Item) => (
        <li>
          {item.__typename === 'MenuItemInternalRecord' ? (
            <InternalLink page={item.link}>
              {item.title || item.link.title}
            </InternalLink>
          ) : (
            item.title
          )}
        </li>
      ))
    }
  </ul>
</nav>

<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-inline-end: 10px;
  }
  a {
    padding-inline: 5px;
    font-weight: bold;
    text-decoration-color: transparent;
  }
  a::before {
    display: inline-block;
    content: '⏵';
    margin-inline-end: 5px;
  }
</style>
