a,
.action--default {
  display: inline;
  color: var(--color-action-default-text);
  fill: currentColor;
}
  
  a:focus,
  a:hover,
  .action--default:focus,
  .action--default:hover {
    color: var(--color-action-default-text-focus);
}

.action--primary,
.action--secondary {
  display: inline-block;
  margin-inline: 8px;
  padding: 16px;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  outline-offset: 5px;
}

.action--primary {
  background-color: var(--color-action-primary-background);
    color: var(--color-action-primary-text);
  border: 2px solid transparent;
}

.action--primary:focus,
.action--primary:hover {
  background-color: var(--color-action-primary-background-focus);
    color: var(--color-action-primary-text-focus);
}

.action--secondary {
  background-color: var(--color-action-secondary-background);
    color: var(--color-action-secondary-text);
  border: 2px solid currentColor;
}

.action--secondary:focus,
.action--secondary:hover {
  color: var(--color-action-secondary-text-focus);
}
