---
import type { DefaultLayoutQuery, Site, SiteLocale, Tag } from '@lib/types/datocms';
import { datocmsRequest } from '@lib/datocms';
import { defaultLocale, t } from '@lib/i18n';
import { datocmsNoIndex, getSearchPathname } from '@lib/search';
import { siteName } from '@lib/seo';
import type { PageUrl } from '@lib/seo';
import query from './default.query.graphql';
import Breadcrumbs from '@components/Breadcrumbs/Breadcrumbs.astro';
import type { Breadcrumb } from '@components/Breadcrumbs';
import IconSprite from '@components/Icon/IconSprite.astro';
import LocaleSelector from '@components/LocaleSelector/LocaleSelector.astro';
import PreviewModeProvider from '@components/PreviewMode/PreviewModeProvider.astro';
import SeoHead from '@components/SeoHead.astro';
import SkipLink from '@components/SkipLink/SkipLink.astro';
import logoReference from '@assets/nododos-logo.svg';
import '@fontsource/poppins/700.css';
import '@fontsource-variable/urbanist';
import '@assets/a11y.css';
import '@assets/action.css';

interface Props {
  breadcrumbs?: Breadcrumb[];
  pageUrls: PageUrl[];
  seoMetaTags: Tag[];
}

const { locale = defaultLocale } = Astro.params as { locale?: SiteLocale };
const data = await datocmsRequest<DefaultLayoutQuery>({ query, variables: { locale } }) as { site: Site };
const { breadcrumbs = [], pageUrls, seoMetaTags } = Astro.props;
const mainContentId = 'content';
---

<!DOCTYPE html>
<html lang={ locale }>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <SeoHead
      pageUrls={ pageUrls }
      tags={[...data.site.faviconMetaTags, ...seoMetaTags]}
    />
  </head>
  <body>
    <PreviewModeProvider>
      <SkipLink targetId={ mainContentId } />
      <div class="layout">
        <header { ...datocmsNoIndex }>
          { /* accessible home link, inspired by https://www.gov.uk/; with Microformats rel */ }
          <a rel="home" href="/" aria-label={ t('go_to_home_page', { siteName }) }>
            <img src={ logoReference.src } alt="No Dodos" width="100" height="44" />
          </a>
          <div>
            <LocaleSelector pageUrls={ pageUrls } />
            <a rel="search" href={ getSearchPathname(locale) }>{ t('search') }</a>
          </div>
        </header>
        { (breadcrumbs.length > 0) && (
          <Breadcrumbs items={breadcrumbs} /> 
        ) }
        { /* main element requires tabindex to be focusable, see SkipLink/README.md */ }
        <slot name="main" id={ mainContentId }>
          <main id={ mainContentId } tabindex="-1">
            <slot />
          </main>
        </slot>
        <slot name="footer">
          <footer { ...datocmsNoIndex }>
            <p>Footer</p>
          </footer>
        </slot>
      </div>
    </PreviewModeProvider>
    <IconSprite />
  </body>
</html>

<style is:global>
  :root {
    --midnight-blue: #02002F;
    --selective-yellow: #FCB817;
    --saffron: #f2ba38;
    --peach: #FFE6B0;
    --white: #FFFFFF;
    --zaffre: #4C26E3;
  }

  /* very basic reset */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
  }
  figure {
    margin: 0;
  }

  html, body {
    height: 100%;
  }
  body {
    background-color: var(--midnight-blue);
    color: var(--white);
    font-family: 'Urbanist Variable', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  h1 {
    font-size: 3rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 2rem;
  }
  a {
    color: var(--white);
  }
  mark {
    color: var(--selective-yellow);
    background-color: transparent;
  }
</style>
<style>
  /* Sticky footer. @see https://css-tricks.com/a-clever-sticky-footer-technique/ */
  html, body {
    height: 100%;
  }
  footer {
    position: sticky;
    top: 100vh;
  }

  /* Basic layout: header, main, footer */
  header {
    display: flex;
    justify-content: space-between;
  }
  header div {
    display: flex;
  }
  main {
    line-height: 1.6;
  }

  footer {}

  .layout {
    margin: auto;
    padding: 15px;
    width: 1200px;
    max-width: calc(100% - 30px);
  }
</style>
