---
import type { App, DefaultLayoutQuery, Site, SiteLocale, Tag } from '@lib/types/datocms';
import { datocmsRequest } from '@lib/datocms';
import { defaultLocale, t } from '@lib/i18n';
import { datocmsNoIndex /*, getSearchPathname */ } from '@lib/search';
import { siteName } from '@lib/seo';
import type { PageUrl } from '@lib/seo';
import query from './default.query.graphql';
import InternalLinkBlock from '@blocks/InternalLink/InternalLinkBlock.astro';
import Breadcrumbs from '@components/Breadcrumbs/Breadcrumbs.astro';
import type { Breadcrumb } from '@components/Breadcrumbs';
import IconSprite from '@components/Icon/IconSprite.astro';
import LocaleSelector from '@components/LocaleSelector/LocaleSelector.astro';
import NoDodosLogo from '@components/NoDodosLogo.astro';
import PreviewModeProvider from '@components/PreviewMode/PreviewModeProvider.astro';
import SeoHead from '@components/SeoHead.astro';
import SkipLink from '@components/SkipLink/SkipLink.astro';
import ThemeSelector from '@components/ThemeSelector/ThemeSelector.astro';
import '@fontsource/poppins/700.css';
import '@fontsource-variable/urbanist';
import '@assets/a11y.css';
import '@assets/theme.css';
import '@assets/action.css';
import ContactHeader from '@components/ContactHeader.astro';

interface Props {
  breadcrumbs?: Breadcrumb[];
  pageUrls: PageUrl[];
  seoMetaTags: Tag[];
  theme?: string | null;
}

const { locale = defaultLocale } = Astro.params as { locale?: SiteLocale };
const data = await datocmsRequest<DefaultLayoutQuery>({ query, variables: { locale } }) as { app: App, site: Site };
const { breadcrumbs = [], pageUrls, seoMetaTags } = Astro.props;
const mainContentId = 'content';
const theme = ['dark', 'light', 'green', 'orange'].includes(Astro.props.theme || '') ? Astro.props.theme : 'dark';
---

<!DOCTYPE html>
<html lang={ locale }>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <SeoHead
      pageUrls={ pageUrls }
      tags={[...data.site.faviconMetaTags, ...seoMetaTags]}
    />
  </head>
  <body class:list={[`theme--${theme}`]} >
    <PreviewModeProvider>
      <SkipLink targetId={ mainContentId } />
      <div class="theme--purple">
        <ContactHeader contact={data.app.primaryContact} class:list={['layout']} />
      </div>
      <header class="layout" { ...datocmsNoIndex }>
        { /* accessible home link, inspired by https://www.gov.uk/; with Microformats rel */ }
        <a rel="home" href="/" class="logo" aria-label={ t('go_to_home_page', { siteName }) }>
          <NoDodosLogo />
        </a>
        <div>
          <LocaleSelector pageUrls={ pageUrls } />
          { /* <a rel="search" href={ getSearchPathname(locale) }>{ t('search') }</a> */ }
          <InternalLinkBlock block={ data.app.primaryAction } />
        </div>
      </header>
      { (breadcrumbs.length > 0) && (
        <div class="layout">
          <Breadcrumbs items={breadcrumbs} /> 
        </div>
      ) }
      { /* main element requires tabindex to be focusable, see SkipLink/README.md */ }
      <slot name="main" id={ mainContentId }>
        <main id={ mainContentId } tabindex="-1" class="layout">
          <slot />
        </main>
      </slot>
      <slot name="footer">
        <!-- [html-validate-disable-next no-redundant-role -- is footer specifically for entire site] -->
        <footer role="contentinfo" class="layout" { ...datocmsNoIndex }>     
          <a rel="home" href="/" aria-label={ t('go_to_home_page', { siteName }) }>
            <NoDodosLogo />
          </a>
        </footer>
      </slot>
    </PreviewModeProvider>
    <IconSprite />
    <ThemeSelector target="body" style="position:fixed; bottom:10px; right:10px; z-index:10;" />
  </body>
</html>

<style is:global>
  /* very basic reset */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
  }
  figure {
    margin: 0;
  }

  html, body {
    height: 100%;
  }
  body {
    font-family: 'Urbanist Variable', sans-serif;
    overflow-y: scroll;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  h1 {
    font-size: 3rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 2rem;
  }
  mark {
    color: var(--color-highlight);
    background-color: transparent;
  }
</style>
<style>
  /* Sticky footer. @see https://css-tricks.com/a-clever-sticky-footer-technique/ */
  html, body {
    height: 100%;
  }
  footer {
    position: sticky;
    top: 100vh;
  }

  /* Basic layout: header, main, footer */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
  }
  header div {
    display: flex;
    align-items: center;
  }
  main {
    line-height: 1.6;
  }

  footer {
    margin-block: 100px;
    padding-block: 15px;
  }

  .layout {
    margin-inline: auto;
    width: 1200px;
    max-width: calc(100% - 30px);
  }
  @media screen and (min-width: 480px) {
    .layout {
    padding-inline: 15px;
    }
  }
</style>
