---
interface Props {
  target: string;
  [key: string]: any;
}
const { target, ...props } = Astro.props;
const themes = ['auto', 'dark', 'light', 'purple', 'green', 'orange'];
---

<theme-selector data-target={target} {...props}>
  {/* todo: translation label and options if put in production */}
  <label for='theme-selector'>theme</label>
  <select id='theme-selector' class="theme--dark">
    {themes.map((theme) => <option value={theme}>{theme}</option>)}
  </select>
</theme-selector>

<script src='./ThemeSelector.client.ts'></script>

<style>
  theme-selector {
    display: block;
    margin-top: 10px;
  }
  theme-selector:not(:defined) {
    display: none;
  }
</style>
